.breadcrumb { 
  list-style: none;
    overflow: hidden;
    margin: 23px 0 28px 15px;
    padding: 0;
    background-color: transparent;
    font-size: .9em;
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li {
  color: #544890;
    text-decoration: none;
    padding: 4px 4px 4px 14px;
    background: white;
    position: relative;
    display: block;
    float: left;
    box-shadow: -1px 1px #DDD;
    margin: 1px;
}
.breadcrumb li:after { 
   content: " " !important;
    display: block;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 13px solid white;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 97%;
    z-index: 2;
}	
.breadcrumb li:before { 
   content: " " !important;
    display: block;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 13px solid #DDD;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    margin-left: 1px;
    left: 98%;
    z-index: 1;
}	
.breadcrumb li:first-child {
  padding-left: 8px;
  padding-right: 8px;
}

.breadcrumb li:last-child :after { border: 0; }